
@model IEnumerable<finalProject_Kramar.Models.OptionalAnswerViewModel>
 

@{
    ViewBag.Title = "Optional Answers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Optional Quest</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.RadioButton("answer", "radioBtn")
                <span>@Html.DisplayFor(modelItem => item.OptionAnswer)</span>
                <br />

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }



</table>
